$header_btn: #ab4027;
$header_text_color: #ffffff;
$text_quote: #b7903c;
$circle_pizza: #f6f7f2;
$background_brand : #f7f7f2;
$name_pizza: #b7903c;
$first_price: #d3cfaf;
$text_red: #d2401e;
$line_dashed: #b68a2c;